{% extends 'account/dashboard.html' %}
{% load static %}

{% block section %}
<div class="row">
    <div class="col-12 col-md-5 border-end">
        <div id="carouselExampleInterval" class="carousel slide carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            {% if images %}
                <div class="carousel-item active">
                    <img src="{{ active_image.url }}" class="d-block w-100 custom-carousel-img" alt="...">
                </div>
                {% for image in images %}
                    <div class="carousel-item">
                        <img src="{{ image.url }}" class="d-block w-100 custom-carousel-img" alt="...">
                    </div>
                {% endfor %}
            {% else %}
                <img src="{% static 'imgs/image_not_found.png' %}" class="img-fluid" alt="image not found">
            {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-12 col-md-7">
        <div class="d-flex flex-row justify-content-between">
            <p class="text-black fs-5"><span class="text-secondary">ID:</span> {{ product.id }}</p>
        </div>
        <p class="text-black fw-bold fs-4">{{ product.name }}</p>
        <p class="text-black text-secondary  fs-5"><span class="text-secondary">Fecha de registro:</span> 
            {{ product.create_date }}</p>
        <p class="text-black fs-5"><span class="text-secondary">Categoria: </span>{{ product.category.name }}</p>
        <p class="text-black fs-5"><span class="text-secondary">Stock: </span>{{ product.stock }}</p>
        <p class="text-black fs-5"><span class="text-secondary">Precio: </span>{{ product_price }}</p>
        <div class="d-flex flex-row">
            <a href="{% url 'product-edit' product.id %}" class="mx-1 btn btn-success" title="Editar"><i
                    class="bi bi-pencil-square"></i></a>
            <button type="button" class="btn btn-danger mx-1" name="{{ product.id }}" data-bs-toggle="modal"
                data-bs-target="#confirmDelete" onclick="confirmDelete(this)">
                <i class="bi bi-trash3"></i>
            </button>
        </div>
    </div>
    <div class="col-12 p-3">
        <p class="fs-4 bg-secondary-subtle text-center py-2 fw-bold">Descripción</p>
        <div class="fs-6">{{ description.description|safe }}</div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="bi bi-exclamation-triangle"></i> Eliminar
                    Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Esta seguro que desea eliminar el producto?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <a id="btn-delete" href="{% url 'product-delete' product.id %}" class="btn btn-danger"><i
                        class="bi bi-trash3"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}