{% extends 'store_base.html' %}
{% load static %}
{% load format_price %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/store-styles.css' %}">
<section class="container-fluid position-relative home-section p-0 d-flex justify-content-center align-items-center">
    <img class="header-img img-fluid position-absolute start-0 top-0 z-n1 opacity-75"
        src="{% static 'imgs/header-background.webp' %}" alt="background image">
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %} 
        <div class="input-group mb-3">
            <input type="text" name="input-search" class="form-control border border-primary" placeholder="Buscar.."
                aria-label="Buscar" aria-describedby="button-search">
            <button class="btn btn-primary" type="submit" id="button-search"><i
                    class="bi bi-search"></i></button>
        </div>
    </form>
</section>
<section class="container-fluid">
    <div class="row">
        <div class="col-4 bg-light py-3">
            <h4 class="text-center">Categorias</h4>
                {% for category in categories %}
                <a class="py-2 border-top d-flex justify-content-between align-items-center link-offset-2 link-underline link-underline-opacity-0" href="{% url 'search-category' category.category_id %}">
                    <span class="text-secondary">{{ category.category }}</span>
                    <div class="badge text-bg-primary rounded-pill">{{ category.number_of_products }}</div>
                </a>
                {% endfor %}
        </div>
        <div class="col-8 px-2">
            {% if product_list %}
            {% for product in product_list %}
                <div class="d-flex bg-white shadow-sm rounded-1 mt-2">
                    <div class="">
                        <img src="{{ product.image }}" class="object-fit-contain" width="150px" height="150px" alt="Imgen de producto">
                    </div>
                    <div class="w-100 p-2">
                        <a href="{% url 'product-info' product.id %}" target="_blank" class="fs-4 link-offset-2 link-underline link-underline-opacity-0 text-black">{{ product.name }}</a>
                        <div class="d-flex justify-content-between pe-3">
                            <div>
                                <p>{{ product.create_date }}</p>
                                <p>{{ product.category.name }}</p>
                                <p><strong>Stock: </strong>{{ product.stock }}</p>
                            </div>

                            <p class="fs-5">$ {{ product.price|format_price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}